@import "../../bower_components/bootstrap/less/bootstrap";


body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container-fluid {
  padding: 55px 16px;

  .feature {
    margin-top: 2px;
    @media (max-width: @screen-xs-max) {
      margin-top: 5px;
    }
  }
}

.hero {
  background-color: #f6f4ec;
}

.small-card {


  height: 150px;

  @media (max-width: @screen-xs-max) {
    height: 60px;
  }

  flip-card {

    front {
      padding-top: 12px;
    }

    back {
      font-family: @font-family-monospace;
      padding-top: 12px;
      font-size: 12px;
      line-height: 22px;
      margin-left: 2px;


      a:hover,a:visited {
        text-decoration: none;
      }

      a {
        display: flex;
        flex-direction: row;
        color: #e2e2e2;
      }

      iron-icon {
        margin-left: 2px;
      }

      div.email-text {
        font-size: 12px;
        line-height: 22px;
        margin-left: 2px;
      }

      .reservation {
        #airbnb {
          width: 102px;
          margin-left: 5px;
          height: 32px;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGYAAAAgCAMAAADXAP0hAAAAqFBMVEUAAAD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8j1z1tAAAAN3RSTlMABesH%2Bv5wAgEEDTgSy2DcPdEcCeGx1IMYyHvE9Nmav1hAdeVoUR9P8KC5MCklSluSa4pVRaeqXSXJVAAABHBJREFUSMe1VotyokAQHBBcUFBeiohofJyixrdJ%2F%2F%2Bf3QwQjpTx6uoqmVRgl56dpndmFqk2ReqS6tG7x6OfM4s6O8AE0P5JHkVvWK723Smw%2BTkeRb8w6croimGHrL8Kt5pj65nvl4idIKaWsin00Sb7LySK%2FlutTSdEDlky6pWj5zbS%2FsCdIOh87RUGgfOQ%2F9DFgilkqCUyfL5j19x9rfTYdMkn50dxgrzk%2BfYTUkrolxlh5OW5HEaPMDGoaRbAR7CHiOL2IKZOiGWnGD%2BTY3OpGNjVNG1g%2Bq808ixjMZaybcXQDcvRZznMzWYpZVutd0Rd0hQ72mFJ0%2BJl5U4UT%2Fnvg0aTVU0xF2JQTDwf5Hx6q3WjBJhm23SpEFXR1Egthmdad3M8EGmcnWUzOwyNTvH1FB6OxxF153eHvONcefE5uADn8HIdb2S98o5dusfXy4E0oXkLe9f45jBSZ4aBowtgsh2xoKQphz1WOtiSDLiRD8ytCMbOADYczPUFyzakwgz6zpQgCxKaoQREdCJV9UzfsfiKaDAzMBzR52JTNEZlBn5RAtOjPgyeCY3xgZ2o44NJhAcraiDtqrJkEOg4O0R7X0pHa1SeIo9XZItNu1%2FQuIBn9YHl%2BP4yWvEjd7WJl0C%2BVkNAH89%2FsTy%2FoPEvm3EE09iXp1nEYlaYFanrmnpAVenVhyoS6eigjwbNsSqBWYvvhwiIqdhU4hDInRNzFYuYeypRdpyIFp2x4PxwTfvweJt91m1XXwiOeafQ1mjXoOFX1FplQYcq5LfEThvC7FLLGi1hBC%2FAO2lc8zcgY5Y79DVHnBbbxDwu07R4mR%2BKHP5f59APci5baZOmy9rLglaysSbckGnmHKSikfbk5XsDEx4McCWbjw3JiQTVDT6yRMIL34RmpGPCjyxlzR5pRI0tZQokX9FwFgCd%2BJpzDEXz4lTjIw8JN67QzqS1RV8i%2By6cT9SwUMnfm3qgIUbOkKxvKxX8Kj2yy0zZPGffY1XwYxjm2FGdsWE%2B0ph5L1TBuSjCzzTmpB0qJ2bkQq8TzhpHU7xiGCraSKaUBL%2BK6LIGhuy6TKKiUyiB4VlZTTMBMjeHwd6hz5DQRJgwjQH0E51vSYviZrCYHL6wI9PyCxh7gfj%2FkOHDbjSUU2AJFDSLqh2BmUNhHyjU5MC6Vy%2FxuUF83BhgYyEs%2BQq%2F%2Fu4McPmAnNjX9WEvTmceTdPZnt5muyKjtzRtt%2Fv6Mmlr3NTbdLcX7%2FfZzrmn6XiV6bo7DvmRMXmt23AK3cD9zyer%2FpTwVVsfWvTEOof1kx8I4WFtFwjyQ0VjWZqLokfrT1ZFw1hxV%2BWPFbnIqFqlSqxEqlCVyx%2Bkj3vV7RrtI2CryimzbaXm%2FuGXEj2H6lVnDLhblOJ4cx3JEoMO2Txv0WsOqcFvMa4nxOXbLybYteY5%2FG4xD9yiBr%2FL5Mx76XptF9hykvcZzLdb11tE6AffR6Ool6OwqFd8CJypUc7Tg7B8H886TqP%2BYOUUNaFY0DWJssHJ%2FkaW36C7oxR1qP8EAAAAAElFTkSuQmCC);
          background-repeat: no-repeat;
        }
      }
    }
  }

}

.location {
  padding-top: 0;
  height: 400px;
}

.col {
  @media (max-width: @screen-xs-max) {
    padding-left: 30px;
  }
}
#vertical {
  background: url("../images/house.jpg") no-repeat;
  height: 553px;
  background-size: cover;
  background-position: center;
}

#hero {
  height: 400px;
  background: url("../images/pool.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
